@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 100%;
  }
  body {
    @apply font-montserrat bg-background text-dark;
    font-weight: 400;
    font-size: 1rem;
  }
  p {
    @apply antialiased md:subpixel-antialiased;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    width: auto;
    height: auto;
    display: block;
  }
}

@layer components {
  .container-wrapper {
    @apply max-w-[90rem] mx-auto px-2.5 2xs:px-3 xs:px-3.5 lg:px-5;
  }
  .background-overlay {
    background-image: linear-gradient(
      -80deg,
      transparent 140px,
      #fffaeb 300px,
      #fffaeb
    );
  }
  .hover-active::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
    background-color: white;
  }
  .active {
    position: relative;
    background-color: white;
    border-radius: 5px 5px 0 0;
    z-index: 1000;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-category {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-nav {
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.15);
  }
}
